<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="apple-touch-icon" sizes="76x76"
          href="/static/img/apple-icon.png">
    <link rel="icon" type="image/png" href="/static/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>RSF</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
          name='viewport'/>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200"
          rel="stylesheet"/>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css"
          rel="stylesheet">
    <!-- CSS Files -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/css/now-ui-dashboard.css?v=1.0.1" rel="stylesheet"/>
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="/static/demo/demo.css" rel="stylesheet"/>
</head>

<body class="">
<div class="wrapper ">
    <div class="sidebar" data-color="orange">
        <!--
    Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
-->
        <div class="logo">
            <a href="#" class="simple-text logo-mini">           
            </a>
            <a href="#" class="simple-text logo-normal">
                Scanner for router
            </a>
        </div>
        <div class="sidebar-wrapper">
                <ul class="nav">
                    <li class="">
                        <a href="/l">
                            <i class="now-ui-icons design_app"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li>
                        <a href="/testcase">
                            <i class="now-ui-icons education_atom"></i>
                            <p>Modules</p>
                        </a>
                    </li>
                    <li class="active">
                        <a href="/testing">
                            <i class="now-ui-icons users_single-02"></i>
                            <p>Settings</p>
                        </a>
                    </li>
                    <li class="active-pro">
                        <a href="http://192.168.20.10/">
                            <i class="now-ui-icons arrows-1_cloud-download-93"></i>
                            <p>Access Vul. DB</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary fixed-top">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-toggle">
                            <button type="button" class="navbar-toggler">
                                <span class="navbar-toggler-bar bar1"></span>
                                <span class="navbar-toggler-bar bar2"></span>
                                <span class="navbar-toggler-bar bar3"></span>
                            </button>
                        </div>
                        <a class="navbar-brand" href="#pablo">System views</a>
                    </div>
                    <button class="navbar-toggler" type="button"
                            data-toggle="collapse" data-target="#navigation"
                            aria-controls="navigation-index" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end"
                         id="navigation">
                        <form>
                            <div class="input-group no-border">
                                <input type="text" value="" class="form-control"
                                       placeholder="Search...">
                                <span class="input-group-addon">
                                        <i class="now-ui-icons ui-1_zoom-bold"></i>
                                    </span>
                            </div>
                        </form>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="#pablo">
                                    <i class="now-ui-icons media-2_sound-wave"></i>
                                    <p>
                                        <span class="d-lg-none d-md-block">Statics</span>
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle"
                                   href="http://example.com"
                                   id="users_single-02"
                                   data-toggle="dropdown" aria-haspopup="true"
                                   aria-expanded="false">
                                    <i class="now-ui-icons location_world"></i>
                                    <p>
                                        <span class="d-lg-none d-md-block">Servers</span>
                                    </p>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right"
                                     aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="#">s1</a>
                                    <a class="dropdown-item" href="#">s2</a>
                                    <a class="dropdown-item" href="#">s3</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle"
                                   href="http://example.com"
                                   id="UserInfo"
                                   data-toggle="dropdown" aria-haspopup="true"
                                   aria-expanded="false">
                                    <i class="now-ui-icons users_single-02"></i>
                                    <p>
                                        <span class="d-lg-none d-md-block">User info.</span>
                                    </p>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right"
                                     aria-labelledby="users_single-02">
                                    <a class="dropdown-item" href="#">Task ID：<br/>{{ tid }}</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
        <div class="panel-header panel-header-sm">
        </div>
        <div class="content">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="title">Options</h5>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="row">
                                    <div class="col-md-5 pr-1">
                                        <div class="form-group">
                                            <label>Loaded</label>
                                            <input type="text"
                                                   class="form-control"
                                                   disabled=""
                                                   placeholder="Loaded"
                                                   value="{{ case_name }}">
                                        </div>
                                    </div>
                                    <div class="col-md-3 px-1">
                                        <div class="form-group">
                                            <label>Target</label>
                                            <input id="Target" type="text"
                                                   class="form-control"
                                                   placeholder="Target"
                                                   value="{{ case_target }}">
                                        </div>
                                    </div>
                                    <div class="col-md-4 pl-1">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Port</label>
                                            <input id="DstPort" type="email"
                                                   class="form-control"
                                                   placeholder="{{ case_opt_port }}"
                                                   value="{{ case_opt_port }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 pr-1">
                                        <div class="form-group">
                                            <label>Source IP</label>
                                            <input id="SrcIP" type="text"
                                                   class="form-control"
                                                   placeholder="SourceIP"
                                                   value="{{ case_opt_srcip }}">
                                        </div>
                                    </div>
                                    <div class="col-md-6 pl-1">
                                        <div class="form-group">
                                            <label>Source port</label>
                                            <input id="SrcPort" type="text"
                                                   class="form-control"
                                                   placeholder="SourcePort"
                                                   value="{{ case_opt_srcport }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Description</label>
                                            <input id="desc" type="text"
                                                   class="form-control"
                                                   placeholder="Description"
                                                   value="{{ case_opt_info_devices }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 pr-1">
                                        <div class="form-group">
                                            <label>Model</label>
                                            <input id="model" type="text"
                                                   class="form-control"
                                                   placeholder="Models"
                                                   value="{{ case_opt_info_models }}">
                                        </div>
                                    </div>
                                    <div class="col-md-4 px-1">
                                        <div class="form-group">
                                            <label>Version</label>
                                            <input id="version" type="text"
                                                   class="form-control"
                                                   placeholder="Version"
                                                   value="{{ case_opt_info_ver }}">
                                        </div>
                                    </div>
                                    <div class="col-md-4 pl-1">
                                        <div class="form-group">
                                            <label>Country</label>
                                            <input id=“country” type="number"
                                                   class="form-control"
                                                   placeholder="中国" value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Details</label>
                                            <textarea id=”desc“ rows="4"
                                                      cols="80"
                                                      class="form-control"
                                                      placeholder="Description"
                                                      value="Mike">{{ case_info_description }}</textarea>
                                            <textarea id=”devices“ rows="4"
                                                      cols="80"
                                                      class="form-control"
                                                      placeholder="Devices"
                                                      value="Mike">{{ case_info_devices }}</textarea>
                                            <textarea id=”devices“ rows="4"
                                                      cols="80"
                                                      class="form-control"
                                                      placeholder="Cover"
                                                      value="Mike">{{ case_info_cves }}</textarea>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <button id="btnStart" class="btn btn-primary btn-block"
                            onclick="Starter()">
                        Start
                    </button>
                    <div class="card">
                        <div class="card-header h5 title">Monitor:</div>
                        <div class="card-body">
                            <div class="row">
                                <!--
                                <div class="form-group col-md-12">
                                        <label>测试进度</label>
                                        <div class="">
                                            测试第 28 个在 291093 用例中
                                        </div>
                                </div>
                                <div class="form-group col-md-12">
                                        <label>用例预览</label>
                                                <textarea class="col-md-12">0x10 0xff 0x00 ....
                                                </textarea>
                                </div>
                                <div class="form-group col-md-12">
                                        <label>当前异常数</label>
                                        <div class="">
                                            0
                                        </div>
                                </div>
                                -->
                                <div class="col-md-12">
                                    <label id="statusDisable">No module running!</label>
                                    <br/>
                                    <progress max="5000" value="0"
                                              id="pg"
                                              class="col-md-12"></progress>
                                </div>
                                <div id="btnCtrl" class="form-group col-md-12"
                                     style="display: None">
                                    <button class="btn btn-warning btn-block col-md-4"
                                            onclick="demo.showNotificationPause('top','left')">
                                        Pause
                                    </button>
                                    <button class="btn btn-danger btn-block col-md-4"
                                            onclick="demo.showNotificationStop('top','left')">
                                        Stop
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container-fluid">
                <nav>
                    <ul>
                        <li>
                            <a href="#">
                                Creative Tim
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                About Us
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Blog
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright">
                    &copy;
                    <script>
                        document.write(new Date().getFullYear())
                    </script>
                    <script>
                        function Starter() {
                            tx = document.getElementById('statusDisable');
                            pg = document.getElementById('pg');
                            setInterval(function (e = 60000) {
                                if (pg.value != 5000) pg.value++;
                                else pg.value = 0;
                            }, 100);
                            tx.innerHTML = "当前测试已启动";
                            document.getElementById('btnStart').innerHTML = "停止测试";
                            demo.showNotificationStart('top', 'left');
                        }

                    </script>
                    , Designed by
                    Invision. Coded by
                    Creative Tim.More Templates <a
                        href="http://www.cssmoban.com/" target="_blank"
                        title="模板之家">模板之家</a> - Collect from <a
                        href="http://www.cssmoban.com/" title="网页模板"
                        target="_blank">网页模板</a>
                </div>
            </div>
        </footer>
    </div>
</div>
</body>
<!--   Core JS Files   -->
<script src="/static/js/core/jquery.min.js"></script>
<script src="/static/js/core/popper.min.js"></script>
<script src="/static/js/core/bootstrap.min.js"></script>
<script src="/static/js/plugins/perfect-scrollbar.jquery.min.js"></script>
<!--  Google Maps Plugin    -->

<!-- Chart JS -->
<script src="/static/js/plugins/chartjs.min.js"></script>
<!--  Notifications Plugin    -->
<script src="/static/js/plugins/bootstrap-notify.js"></script>
<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
<script src="/static/js/now-ui-dashboard.js?v=1.0.1"></script>
<!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
<script src="/static/demo/demo.js"></script>

</html>
